body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Images/oboi.jpg");
    /*background: url("../Images/gif.gif");*/
    /*background-color: #FFE4B5;*/
    background-size: 100%;
    background-attachment: fixed;
    /*font-family: 'Bookshelf Symbol 7' ;*/
    font-family: 'Microsoft YaHei UI';
}

#

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

tr{
    background-color: white;
}
h2, h3{
    color: white;
}
h2#index{
    color:black;
}
p{
    color: white;
}
address{
    color: white;
}

