@{
    ViewBag.Title = "Kontakti";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tallinna Kooli Vetr<br />
    J. Sütiste tee 42, 13420 Tallinn<br />
    <abbr title="Phone">Telefoni:</abbr>
    4876 7452
    <br />
    <strong>E-post:</strong> <a href="info@tktv.com">info@tktv.com</a>

    <br /><br />
    <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d663.3010679686004!2d24.687215233771386!3d59.396693479569784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692950259393fef%3A0x15d0a7c7a1b76669!2z0KLQsNC70LvQuNC90L3RgdC60LDRjyA1MyDRgdGA0LXQtNC90Y_RjyDRiNC60L7Qu9Cw!5e0!3m2!1sru!2see!4v1648915225776!5m2!1sru!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>



</address>

