@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kooli Tallinna Vetr</h1>
    <h2 id="index">@ViewBag.Greeting, Kallis sõber!</h2>
</div>

<div class="row">
    <h3>
        Üks neljast Eesti juhtivast ülikoolist.

        Asub Eesti pealinnas Tallinnas. Asutatud 2002.aastal Tallinna Pedagoogikaülikooli baasil. Ülikooli kujunemise ajalugu pärineb 15. oktoobrist 1900, kui Tallinnas moodustati Tallinna Õpetajate Seminar.
    </h3>

    <img id="Kooli" src="~/Images/Kooli_lu.jpg" alt="Kooli">
</div>